<div (click)='getMatchDetails()'>
    <ng-container>
        <div class="spinner-border" role="status" *ngIf="!isMatchInfoLoaded else appMatchTemplate">
            <span class="sr-only">Loading...</span>
        </div>
    </ng-container>
</div>

<ng-template #appMatchTemplate>
    <div class="container-fluid" id="leader">
        <div class="row">
            <div class="col-md">
                Tu beda podstawowe dane o meczu (szczegoly w statystykach)
            </div>
            <div class="col-auto mr-auto">
                <button data-toggle="collapse" [attr.href]='"#detailsCollapse"+collapseId' role="button"
                    aria-expanded="false" [attr.aria-controls]='"detailsCollapse"+collapseId'>
                    <i class="fa fa-arrow-circle-o-down fa-lg"></i>
                </button>
            </div>
        </div>
        <app-match-details [matchTimeLine]='matchTimeLine' [matchInfo]='matchInfo' [chosenSummoner]='chosenSummoner'
            [collapseId]='collapseId'></app-match-details>
    </div>
</ng-template>