<div class="collapse" [id]='"detailsCollapse"+collapseId'>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary" data-toggle="collapse"
                            [attr.data-target]='"#killsCollapse"+collapseId' aria-expanded="true"
                            [attr.aria-controls]='"killsCollapse"+collapseId'
                            (click)='getEvents(eventType.Kill)'>Kills</button>
                        <button type="button" class="btn btn-secondary" data-toggle="collapse"
                            [attr.data-target]='"#deathsCollapse"+collapseId' aria-expanded="true"
                            [attr.aria-controls]='"deathsCollapse"+collapseId'
                            (click)='getEvents(eventType.Death)'>Deaths</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse" [id]='"killsCollapse"+collapseId' [attr.aria-labelledby]='"killsCollapse"+collapseId'
                [attr.data-parent]='"#detailsCollapse"+collapseId'>
                <div class="card card-body">
                    <app-event-display *ngFor="let kill of killEvents; let eventId = index;"
                        [chosenSummoner]="chosenSummoner" [matchInfo]="matchInfo" [killInfo]="kill"
                        [eventType]="eventType.Kill" [eventDisplayId]="eventId"></app-event-display>
                </div>
                <div class="row top5">
                    <div class="col">
                        <button type="button" (click)="generateRecordingFile()">Generate recording</button>
                    </div>
                </div>
            </div>
            <div class="collapse" [id]='"deathsCollapse"+collapseId'
                [attr.aria-labelledby]='"deathsCollapse"+collapseId' [attr.data-parent]='"#detailsCollapse"+collapseId'>
                <div class="card card-body">
                    <app-event-display *ngFor="let death of deathEvents; let eventId = index;"
                        [chosenSummoner]="chosenSummoner" [matchInfo]="matchInfo" [killInfo]="death"
                        [eventType]="eventType.Death" [eventDisplayId]="eventId"></app-event-display>
                </div>
                <div class="row top5">
                    <div class="col">
                        <button type="button" (click)="generateRecordingFile()">Generate recording</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>